<?xml version="1.0" encoding="UTF-8"?>

 <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  	<mapper namespace="com.marondal.spring.test.ajax.dao.BookingDAO">
  	
  	<select id="selectBookingList" resultType="com.marondal.spring.test.ajax.model.Booking"><!-- 파라미터 없으니 생략 리설트 타입 우리가 직접만든 부킹이란클래스 -->
  		SELECT 
  			`id`
  			, `name`
  			, `headcount`
  			, `day`
  			, `date`
  			, `phoneNumber`
  			, `state`
  			, `createdAt`
  			, `updatedAt`
  		FROM 
  			`booking`
  		ORDER BY
  			`id` DESC;
  	</select>
  	
  	<select id="selectBooking" resultType="com.marondal.spring.test.ajax.model.Booking" parameterType="map">
  		SELECT 
  			`id`
  			, `name`
  			, `headcount`
  			, `day`
  			, `date`
  			, `phoneNumber`
  			, `state`
  			, `createdAt`
  			, `updatedAt`
  		FROM 
  			`booking`
  			
  		
  	
  	</select>
  	
  	<insert id="insertBookingList" parameterType="map"><!-- 여러타입이므로 맵 -->
  		INSERT INTO 
  				`booking`
			(
			`name`
			, `headcount`
			, `day`
			, `date`
			, `phoneNumber`
			, `state`
			, `createdAt`
			, `updatedAt`
			)
			VALUE
			(
			 #{name}
			, #{headcount} <!-- 이키워드들은 dao param 비오 컨트롤로에도 근데 state가 없다. -->
			, #{day}
			, #{date}
			, #{phoneNumber}
			, #{state} <!-- 고정된 값이니 이렇게 '대기중' 써줘도 됨 근데 또 문제가 생김 -->
			, now()
			, now()
		)
  	</insert>
  	
  	
  	<delete id="deleteBookingList" parameterType="int">
  		DELETE 
  		FROM 
  			`booking`
		WHERE 
			`id`= #{id};
  	</delete>
  	
  	
  	</mapper>