<?xml version="1.0" encoding="UTF-8"?>

 <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.marondal.spring.test.mybatis.dao.RealEstateDAO">
  
  	<select id="selectRealEstate" resultType="com.marondal.spring.test.mybatis.model.RealEstate"
  	parameterType="int">
  		SELECT `id`,
  			`realtorId`,
  			`address`,
  			`area`,
  			`type`,
  			`price`,
  			`rentPrice`,
  			`createdAt`,
  			`updatedAt`
  		FROM
  			`real_estate`
  		WHERE
  			`id`=#{id}	

  	</select>
  	
  	<select id="selectRealEstateListByRentPrice" resultType="com.marondal.spring.test.mybatis.model.RealEstate"
  	parameterType="int">
  		SELECT `id`,
  			`realtorId`,
  			`address`,
  			`area`,
  			`type`,
  			`price`,
  			`rentPrice`,
  			`createdAt`,
  			`updatedAt`
  		FROM
  			`real_estate`
  		WHERE
  			<![CDATA[ `rentPrice` < #{rentPrice} ]]> <!-- 부등호는 이렇게 해준다 xml에서 부등호사용 검색-->
  	</select>
  	<select id="selectRealEstateListByAreaPrice" resultType="com.marondal.spring.test.mybatis.model.RealEstate"
  	parameterType="map"><!-- 서로다른 타입의 변수면 map -->
  		SELECT `id`,
  			`realtorId`,
  			`address`,
  			`area`,
  			`type`,
  			`price`,
  			`rentPrice`,
  			`createdAt`,
  			`updatedAt`
  		FROM
  			`real_estate`
  		WHERE
  			<![CDATA[ 
  			`area`>= #{area}	 
  			AND `price` <= #{price}
  			]]> <!-- 또다시 cdata 넣기 -->

  	</select>
  	<!-- 특정메소드를 호출해야하므로 경로를 적은것. -->
  	<insert id ="insertRealEstateByObject" parameterType="com.marondal.spring.test.mybatis.model.RealEstate">
  		INSERT INTO
  			`real_estate`
  		(
  			`realtorId`,
  			`address`,
  			`area`,
  			`type`,
  			`price`,
  			`createdAt`,
  			`updatedAt`
  		)	
  		VALUE
  		(
  			#{realtorId},
  			#{address},
  			#{area},
  			#{type},
  			#{price},<!-- rentPrice 어차피 안들어갈값이니 빼준다. -->
  			now(),
  			now()
  		
  		)
  	
  	</insert>
  	
  	<insert id ="insertRealEstate" parameterType="map">
  		INSERT INTO
  			`real_estate`
  		(
  			`realtorId`,
  			`address`,
  			`area`,
  			`type`,
  			`price`,
  			`rentPrice`,
  			`createdAt`,
  			`updatedAt`
  		)	
  		VALUE
  		(
  			#{realtorId},
  			#{address},
  			#{area},
  			#{type},
  			#{price},
  			#{rentPrice},
  			now(),
  			now()
  		
  		)
  	
  	</insert>
  <!-- 메소드 이름 = id resultType은 int로 지정되어서 건드릴필요도없고 건드릴수도 없다함.-->
  <update id ="updateRealEstate" parameterType="map">
  	UPDATE `real_estate`
	SET `type` = #{type}, 
		`price`= #{price},
		`updatedAt` = now() <!-- 수정시간도 넣기 -->
	WHERE `id`= #{id};
  </update>
  
  <delete id ="deleteRealEstate" parameterType="int"><!-- parameter은 int하나이므로-->
  	DELETE FROM
  		`real_estate`
  	WHERE
  		`id` = #{id}
  
  </delete>
 
  
  </mapper>