<?xml version="1.0" encoding="UTF-8"?>


 <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.marondal.spring.test.jsp.dao.RealtorDAO">
<!--    
  	<insert id="insertRealtor" parameterType="map"
  	useGeneratedKeys="true" keyProperty = "id">
  	INSERT INTO
  			`realtor`
  		(
  			
  			`office`
  			,`phoneNumber`
  			,`address`
  			,`grade`
  			,`createdAt`
  			,`updatedAt`
  		)
  	VALUE(

  		#{office}
  		,#{phoneNumber}
  		,#{address}
  		,#{grade}
  		,now()
  		,now()
  	)

  	</insert>
-->  	
  	<insert id="insertRealtorByObject" parameterType="com.marondal.spring.test.jsp.model.Realtor"
  	useGeneratedKeys="true" keyProperty = "id"><!-- 리턴 int 고정값이라서 파라미터 타입에 경로 넣는다. -->
  	INSERT INTO							<!-- 컬럼명 id를 위의객체에 id라는 값을 전달-->
  			`realtor`
  		(
  			
  			`office`
  			,`phoneNumber`
  			,`address`
  			,`grade`
  			,`createdAt`
  			,`updatedAt`
  		)
  	VALUE(
					
  		#{office}<!-- 해당하는 멤버변수 이름들 -->
  		,#{phoneNumber}
  		,#{address}
  		,#{grade}
  		,now()
  		,now()
  	)

  	</insert>
  	
  	
  	
  	<select id="selectRealtor" resultType="com.marondal.spring.test.jsp.model.Realtor">
  	
  		SELECT 
  				  `id`
  				, `office`
  				, `phoneNumber`
  				, `address`
  				, `grade`
  				, `createdAt`
  				, `updatedAt`
  		
  		FROM `realtor`

		WHERE
  			`id` = #{id}	
 
  	</select>
 <!--  
  	<select id="selectLastRealtor" resultType="com.marondal.spring.test.jsp.model.Realtor">
  	
  		SELECT 
  				  `id`
  				, `office`
  				, `phoneNumber`
  				, `address`
  				, `grade`
  				, `createdAt`
  				, `updatedAt`
  		
  		FROM `realtor`

		ORDER BY 
			`id` DESC 
		LIMIT 
			1
  	</select>
-->  
  </mapper>