<?xml version="1.0" encoding="UTF-8"?>

 <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.marondal.spring.test.jsp.dao.SellerDAO">
  
  <insert id="insertSeller" parameterType="map">
  	INSERT INTO
  			`seller`
  		(
  			`id`
  			`nickname`,
  			`temperature`,
  			`profileImage`,
  			`createdAt`,
  			`updatedAt`
  		)	
  		VALUE
  		(
  			#{id},
  			#{nickname},
  			#{temperature},
  			#{profileImage},
  			now(),
  			now()
  		
  		)
  
  
  </insert>
  
  <select id ="selectLastSeller" parameterType="map" resultType="com.marondal.spring.test.jsp.model.Seller">
  	SELECT 
			`id`,
			`nickname`,
  			`temperature`,
  			`profileImage`,
  			`createdAt`,
  			`updatedAt`
  	FROM 
  		`new_user`
  		
	ORDER BY 
		`id` DESC <!-- desc가장최근에 한게 제일 큰수 -->
	LIMIT 
		1
  </select>
  
  
  
  </mapper>