<?xml version="1.0" encoding="UTF-8"?>

 <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
   <mapper namespace="com.marondal.spring.test.jstl.dao.WeatherHistoryDAO">
   
   	<select id="selectWeatherHistoryList" resultType="com.marondal.spring.test.jstl.model.WeatherHistory">
   		SELECT
   			`id`
   			,`date`
   			,`weather`
   			,`temperatures`
   			, `precipitation`
   			, `microDust`
   			, `windSpeed`
   			, `createdAt`
   			, `updatedAt`
   		FROM
   			`weatherhistory`	
   	</select>
   	
   	<insert id="insertWeatherHistory" parameterType="map"><!-- 여러타입이므로 맵 -->
   		INSERT INTO 
   				`weatherhistory`
   			(
   				`date`
   				,`weather`
   				,`temperatures`
   				,`precipitation`
   				,`microDust`
   				,`windSpeed`
   				,`createdAt`
  				,`updatedAt`
   			)
   			VALUE
   			(
   				#{date}
   				,#{weather}
   				,#{temperatures}
   				,#{precipitation}
   				,#{microDust}
   				,#{windSpeed}
   				, now()
   				, now()
   			
   			)
   				
   		
   		
   	
   	
   	</insert>
   
   
   </mapper>